@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  /* font-family: "League Spartan", sans-serif; */
}

/* LOADING */

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
}

/* POPUP FINALIZAR COMPRA */

.finalizePurchase {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;

  .contentFinalizePurchase {
    width: 50%;
    height: 35%;
    padding: 3rem 2rem;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
    position: relative;
    gap: 2rem;

    .closeFinalizePurchase{
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1.2rem;
    }

    .formFinalizePurchase{
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1.5rem;

      .contentInputFormFinalizePurchase{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;


        input{
          width: 45%;
          padding: 0.5rem 1rem;
          border-radius: 20px;
          border: 1px solid #555555;
          outline: none;
          font-family: "League Spartan", sans-serif;
        }
      }

      button{
        padding: 0.5rem 2rem;
        border-radius: 10px;
        border: none;
        background-color: #11335a;
        color: #ffffff;
        font-family: "League Spartan", sans-serif;
        letter-spacing: 1.5px;
        transition: all 300ms ease;
        cursor: pointer;
      }
    }
  }
}





/* HEADER Y NAV */

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.topNav {
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
}

.navMovil {
  display: none;
}

.nav {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  a {
    text-decoration: none;

    h2 {
      color: #000000;
    }
  }

  .containerOptions {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding-left: 7rem;

    a {
      text-decoration: none;

      li {
        color: #000000;
      }
    }
  }

  .containerItems {
    display: flex;
    gap: 1rem;

    .containerSearch {
      position: relative;

      input {
        width: 12rem;
        padding: 0.3rem 1rem;
        border-radius: 20px;
        border: 1px solid #333333;
        outline: none;
      }

      .iconSearch {
        position: absolute;
        right: 10px;
        top: 8px;
        cursor: pointer;
      }
    }

    .containerIcons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      a {
        text-decoration: none;

        i {
          color: #000000;
          font-size: 1.2rem;
        }
      }
      .containerHeart {
        position: relative;

        span {
          position: absolute;
          font-size: 0.8rem;
          bottom: -4px;
          right: -6px;
          z-index: 9;
          background-color: rgba(189, 28, 28, 0.8);
          color: #ffffff;
          width: 17px;
          text-align: center;
          border-radius: 50%;
        }
      }

      i {
        color: #000000;
        font-size: 1.2rem;
        cursor: pointer;
      }
    }
  }
}

/* MAIN PAGE HOME */

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  /* SECTION CART */

  .cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 25rem;
    height: 100vh;
    background-color: #ffffff;
    z-index: 99;
    padding: 1rem 1rem 0 1rem;
    flex-direction: column;
    transition: right 1.3s ease;

    h2 {
      margin: 1rem 0 1rem 0;
      text-align: center;
      font-weight: 350;

      span {
        border-bottom: 1px solid #000000;
      }
    }

    .closeCart {
      font-size: 1.5rem;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    .containerCart {
      width: 100%;
      height: 83%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .contentCart {
        width: 100%;
        overflow: auto;
        display: grid;
        grid-auto-rows: auto; /* alto automático para cada fila */
        row-gap: 1rem; /* espacio entre productos */
        column-gap: 1rem; /* espacio entre columnas */
        padding: 1rem;

        .titleContentCart {
          padding-top: 3rem;
          text-align: center;
          font-size: 1.3rem;
          font-family: "League Spartan", sans-serif;
        }

        .productCart {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;

          .containerImgCart {
            display: flex;
            justify-content: center;
            align-items: center;

            .imgCart {
              width: 5rem;
              border-radius: 50%;
            }

            .imgCartCel {
              width: 3rem;
              border-radius: 50%;
            }
          }

          .containerPriceCart {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .addCartOrRemove {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 0.5rem;

            .amountToCart {
              font-size: 1rem;
            }

            .removeToCart {
              width: 20px;
              height: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.15rem;
              font-weight: bold;
              border-radius: 50%;
              color: #ffffff;
              cursor: pointer;
              background-color: red;
              padding-bottom: 5px;
            }

            .addToCart {
              width: 20px;
              height: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.15rem;
              font-weight: bold;
              border-radius: 50%;
              color: #ffffff;
              cursor: pointer;
              background-color: green;
              padding-bottom: 2.8px;
              padding-left: 1px;
            }
            .trash {
              color: rgb(199, 7, 7);
              cursor: pointer;
            }
          }
        }
      }

      .totalCart {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .containerPriceTotal {
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-bottom: 1rem;

          p {
            font-size: 2rem;
            font-weight: bold;
          }

          span {
            font-size: 2rem;
            font-weight: bold;
          }
        }

        button {
          padding: 0.5rem 2rem;
          border-radius: 10px;
          border: none;
          background-color: #11335a;
          color: #ffffff;
          font-family: "League Spartan", sans-serif;
          letter-spacing: 1.5px;
          transition: all 300ms ease;
          cursor: pointer;
        }
      }
    }
  }

  .cart.visible {
    right: 0;
  }

  /* SECTION HERO */
  .hero {
    background-image: url(../images/hero.png);
    width: 100%;
    height: calc(100vh - 7.5rem);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;

    .containerApple {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 5rem;
      gap: 3rem;

      i {
        font-size: 2.5rem;
      }

      h2 {
        font-size: 2rem;
        font-family: "League Spartan", sans-serif;
      }
    }

    .voucher {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 3rem;
      flex-wrap: wrap;

      p {
        font-size: 3rem;
      }
    }

    .buyNow {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 3rem;
      flex-wrap: wrap;

      p {
        font-size: 2rem;
        border-bottom: 4px solid #ffffff;
      }
    }
  }

  /* SECTION CATEGORY */

  .categorys {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 5rem;
    gap: 1rem;

    h3 {
      color: #11335a;
      font-size: 1.8rem;
      font-weight: 500;
    }

    .containerCategories {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      img {
        cursor: pointer;
      }
    }
  }

  .products {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 5rem 5rem;
    gap: 1rem;

    h3 {
      color: #11335a;
      font-size: 1.8rem;
      font-weight: 500;
    }

    .containerProducts {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 2rem 3rem;

      .containerProduct {
        width: 20rem;
        height: 26rem;
        padding: 1rem;
        border: 1px solid #333333;
        border-radius: 10px;
        box-shadow: 10px 9px 20px 3px rgba(0, 0, 0, 0.63);
        -webkit-box-shadow: 10px 9px 20px 3px rgba(0, 0, 0, 0.63);
        -moz-box-shadow: 10px 9px 20px 3px rgba(0, 0, 0, 0.63);
        position: relative;

        .heartSolidProduct {
          position: absolute;
          top: 15px;
          right: 15px;
          font-size: 1.3rem;
          color: rgb(189, 28, 28);
          cursor: pointer;
        }

        .heartProduct {
          position: absolute;
          top: 15px;
          right: 15px;
          font-size: 1.3rem;
          cursor: pointer;
        }

        .contentProduct {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 1rem;

          .imgCel {
            width: 13rem;
          }

          .contentText {
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 0.5rem;

            p {
              font-size: 1.3rem;
            }
          }

          button {
            padding: 0.5rem 2rem;
            border-radius: 10px;
            border: none;
            background-color: #11335a;
            color: #ffffff;
            font-family: "League Spartan", sans-serif;
            letter-spacing: 1.5px;
            transition: all 300ms ease;
            cursor: pointer;
          }

          button:hover {
            background-color: #1e67a3;
            color: #000000;
          }
        }
      }
    }
  }
}

/* FOOTER HOME */

footer {
  width: 100%;
  height: 18rem;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  gap: 0 3rem;

  .aboutUsFooter {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
  }

  .support {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    .containerSupportItem {
      width: 90%;
      display: flex;

      .supportItem {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
      }
    }
  }
}

/* HEADER PAGE CONTACT */

.containerOptionsContact {
  display: flex;
  gap: 2rem;
  list-style: none;

  a {
    text-decoration: none;

    li {
      color: #000000;
    }
  }
}

/* MAIN PAGE CONTACT */

.contact {
  background-image: url(../images/contactus2.jpg);
  width: 100%;
  height: calc(100vh - 5rem);
  background-position: center;
  background-size: cover;
}

.form {
  width: 80%;
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.containerInput {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.containerInput input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 1px solid #555555;
  outline: none;
  font-family: "League Spartan", sans-serif;
}

.containerInput textarea {
  width: 100%;
  height: 5rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 1px solid #555555;
  outline: none;
  resize: none;
  font-family: "League Spartan", sans-serif;
}

.containerInput button {
  padding: 0.5rem 3rem;
  border-radius: 10px;
  border: none;
  background-color: #11335a;
  color: #ffffff;
  font-family: "League Spartan", sans-serif;
  letter-spacing: 1.5px;
  transition: all 300ms ease;
  cursor: pointer;
}

.containerInput button:hover {
  background-color: #1e67a3;
  color: #000000;
}

/* Responsive */

@media (max-width: 867px) {
  .nav {
    .containerOptions {
      padding-left: 0rem;
    }
  }

  main {
    .hero {
      .voucher {
        p {
          font-size: 2rem;
        }
      }
      .buyNow {
        p {
          font-size: 1.5rem;
        }
      }
    }
  }

  footer {
    height: auto;
    flex-direction: column;
    padding: 2rem 0;
    gap: 2rem 3rem;

    .aboutUsFooter {
      width: 75%;
      align-items: center;

      h2 {
        text-align: center;
      }
    }
  }
}

@media (max-width: 785px) {
  .topNav {
    p {
      font-size: 0.8rem;
    }
  }

  .navMovil {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    a {
      text-decoration: none;

      h2 {
        color: #000000;
      }
    }

    i {
      font-size: 1.5rem;
    }
  }

  .nav {
    display: none;
  }

  main {
    .hero {
      .containerApple {
        padding-left: 2.5rem;
        gap: 1.5rem;

        i {
          font-size: 2.5rem;
        }

        h2 {
          font-size: 2rem;
          font-family: "League Spartan", sans-serif;
        }
      }
    }

    .categorys {
      padding: 0 2.5rem;
    }

    .products {
      padding: 5rem 2.5rem;
    }
  }

  .containerInput {
    width: 30%;
  }
}

@media (max-width: 655px) {
  .topNav {
    p {
      font-size: 0.6rem;
    }
  }

  main {
    .hero {
      .containerApple {
        h2 {
          font-size: 1.5rem;
        }

        i {
          font-size: 1.5rem;
        }
      }

      .voucher {
        p {
          font-size: 1.5rem;
        }
      }
      .buyNow {
        p {
          font-size: 1rem;
        }
      }
    }

    .categorys {
      padding: 0 1rem;
    }

    .products {
      padding: 5rem 1rem;
    }
  }

  footer {
    height: auto;
    flex-direction: column;
    padding: 0.5rem 0.5rem;
    gap: 1.5rem 2rem;

    .aboutUsFooter {
      width: 100%;
      text-align: center;
    }

    .support {
      width: 100%;

      .containerSupportItem {
        flex-wrap: wrap;
        gap: 0.5rem;
      }
    }
  }
}
